@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("fonts/OpenSans/OpenSans-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("fonts/OpenSans/OpenSans-Light.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url("fonts/OpenSans/OpenSans-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}